.footer {
    width: 100%;
    height: 200px;
    background-color: #023047;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    position: bottom;
  }
  
  .socialMedia svg {
    color: #fff;
    margin: 20px;
    font-size: 35px;
    cursor: pointer;
  }
  
  .footer p {
    color: #fff;
  }

  div.fixed {
    position: fixed;
    bottom: 0;
   
   
}